body {
  font-family: "Quicksand", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1rem;
  min-width: 14rem;
  color: #4a4a4a;
}

#app {
    padding: 20px 10px;
    margin: 0 auto;
    text-align: center
}

input {
    max-width: 100%
}

input[type=text],input[type=number] {
    color: var(--picker-input-color);
    box-shadow: var(--picker-input-box-shadow);
    background-color: var(--picker-input-bg);
    text-shadow: var(--picker-text-shadow);
    border-radius: 5px;
    border: none;
    transition: all .2s
}

input[type=text]:focus,input[type=number]:focus {
    outline: 3px solid var(--picker-input-focus-ring);
    outline-offset: 0px
}

input:invalid {
    background: var(--picker-input-invalid-bg);
    box-shadow: var(--picker-input-invalid-box-shadow);
    color: var(--picker-input-invalid-color)
}

input[data-copied] {
    background: var(--picker-input-copied-bg);
    color: var(--picker-input-copied-color)
}

input[type=text] {
    text-align: center;
    padding: 8px .6em;
    font-size: 1em
}


.color-picker {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: minmax(100px,500px);
    gap: 8px
}

.color-slider {
    display: flex;
    gap: 8px;
    flex-direction: column
}

.color-swatch {
    position: relative;
    box-shadow: var(--picker-slider-box-shadow);
    overflow: hidden;
    height: 116px;
    margin-bottom: 8px;
    border-radius: 12px;
    text-align: center;
    background-color: var(--picker-hwb)
}


.color-pickers {
    display: grid;
    gap: 25px
}

.color-code {
    position: relative
}

.color-code input {
    width: 100%
}


.slider-track {
    height: 20px;
    background-image: var(--picker-track-check-gradient),var(--picker-track-check-gradient);
    background-size: 20px 20px;
    background-position: 0px 0px,10px 10px;
    border-radius: 15px;
    position: relative
}

.slider-track:after {
    z-index: -1;
    background: var(--picker-track-bg);
    position: absolute;
    inset: -3px -4px;
    border-radius: 15px;
    box-shadow: var(--picker-track-box-shadow)
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    box-shadow: var(--picker-slider-box-shadow);
    height: 20px;
    border-radius: 8px;
    width: 100%;
    margin: 0
}

input[type=range]:focus {
    outline: none
}

input[type=range][disabled] {
    opacity: .5
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
    cursor: ew-resize
}

input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
    cursor: ew-resize
}

input[type=range]::-ms-track {
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
    cursor: ew-resize
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    opacity: .01;
    cursor: ew-resize
}

input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    height: 18px;
    width: 18px;
    opacity: .01;
    cursor: ew-resize
}

input[type=range]::-ms-thumb {
    -ms-appearance: none;
    height: 18px;
    width: 18px;
    opacity: .01;
    cursor: ew-resize
}


:root {
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,segoe ui,helvetica neue,helvetica,Cantarell,Ubuntu,roboto,noto,arial,sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: #ffffffde;
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --picker-track-bg: rgba(0, 0, 0, .5);
    --picker-track-check: rgba(255, 255, 255, .2);
    --picker-track-check-alt: transparent;
    --picker-track-check-gradient: linear-gradient( 45deg, var(--picker-track-check) 25%, var(--picker-track-check-alt) 25%, var(--picker-track-check-alt) 75%, var(--picker-track-check) 75%, var(--picker-track-check) );
    --picker-track-box-shadow: rgba(0, 0, 0, .3) 0 1px inset, rgba(255, 255, 255, .2) 0 1px;
    --picker-slider-box-shadow: rgba(255, 255, 255, .3) 0 1px 1px inset, rgba(0, 0, 0, .6) 0 0 0 1px;
    --picker-input-box-shadow: rgba(255, 255, 255, .1) 0 1px 0, rgba(0, 0, 0, .8) 0 1px 7px 0px inset;
    --picker-input-bg: rgba(0, 0, 0, .3);
    --picker-input-color: rgba(255, 255, 255, .8);
    --picker-input-invalid-bg: rgba(102, 0, 0, .3);
    --picker-input-invalid-box-shadow: rgba(255, 127, 127, .1) 0 1px 0, rgba(0, 0, 0, .8) 0 1px 7px 0px inset;
    --picker-input-invalid-color: #ff0f0f;
    --picker-input-copied-bg: rgba(10, 102, 0, .3);
    --picker-input-copied-box-shadow: rgba(140, 255, 127, .1) 0 1px 0, rgba(0, 0, 0, .8) 0 1px 7px 0px inset;
    --picker-input-copied-color: #27ff0f;
    --picker-thumb-box-shadow: 0 0 0 3px oklch( var(--picker-oklchLightness) var(--picker-oklchChroma) var(--picker-oklchHue) / .3 ) inset, 0 0 0 3px rgba(255, 255, 255, 1) inset, 0 0 0 4px rgb(0 0 0 / .5) inset, 0 0 0 1px rgb(0 0 0 / .5), 0 0 0 1px rgb(0 0 0 / .3);
    --picker-thumb-box-shadow-hover: 0 0 0 3px oklch( var(--picker-oklchLightness) var(--picker-oklchChroma) var(--picker-oklchHue) / .1 ) inset, 0 0 0 3px rgba(255, 255, 255, 1) inset, 0 0 0 4px rgb(0 0 0 / .5) inset, 0 0 0 1px rgb(0 0 0 / .5);
    --picker-thumb-box-shadow-focus: 0 0 0 3px oklch( var(--picker-oklchLightness) var(--picker-oklchChroma) var(--picker-oklchHue) / .1 ) inset, 0 0 0 3px rgba(255, 255, 255, 1) inset, 0 0 0 4px rgb(0 0 0 / .5) inset, 0 0 0 1px rgb(0 0 0 / .5), 0 0 0 1px rgb(0 0 0 / 1), 0 0 0 4px hwb(var(--picker-hue) 25% 0%), 0 0 0 5px rgb(0 0 0 / .3);
    --picker-dynamic-accent: hwb( var(--picker-hue) calc(clamp(0, var(--picker-whiteness), 55)*1%) calc(clamp(0, var(--picker-blackness), 15)*1%) );
    --picker-dynamic-accent-lightened: color-mix( in oklab, #666 30%, hwb( var(--picker-hue) calc(clamp(0, var(--picker-whiteness), 55)*1%) calc(clamp(0, var(--picker-blackness), 50)*1%) ) );
    --picker-dynamic-accent-footer: hwb(var(--picker-hue) 25% 0%);
    --picker-input-focus-ring: hwb(var(--picker-hue) 25% 0%);
    --picker-dark-stripe: rgba(0, 0, 0, .1);
    --picker-text-shadow-color: rgba(0, 0, 0, .5);
    --picker-text-shadow: var(--picker-text-shadow-color) 0 2px 1px
}








/* color rows */

#button-container {
  display: flex;
  height: 2.5rem;
  margin-bottom: 1rem;
}

button {
  font: inherit;
  color: inherit;
  height: 1.8rem;
  border: none;
  border-radius: 5px;
  margin: 0.5rem 0.2rem;
  flex-grow: 1;
  flex-basis: 0;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

/* color packer */

#color-picker-container {
  display: flex;
  align-items: center;
  height: 2.2rem;
  /* border: solid 1px black; */
}
label {
  white-space: nowrap;
  display: block;
  margin: 0.5rem;
}
#colorPicker {
  width: 100%;
  height: 2rem;
  margin: 0.5rem;
  border: none;
  padding: 2px 4px;
  border-radius: 5px;
  cursor: pointer;
}